<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Kaori Laundry</title>
</head>

<body>
    <div class="container" style="margin-top: 100px;">
        <div class="col-md-5 mx-auto">
            <h1 class="text-center main-color"><b>Kaori</b> Laundry | Add Category</h1>
            <br>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input value="<%=category.name?category.name:''%>" type="text" class="form-control"
                        id="exampleInputEmail1" name="name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Price</label>
                    <input value="<%=category.price?category.price:''%>" type="number" class="form-control" name="price"
                        id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Duration</label>
                    <input value="<%=category.duration?category.duration:''%>" type="number" class="form-control"
                        name="duration" placeholder="Change total price" id="exampleInputEmail1">
                </div>
                
                <p style="text-indent: 2px;" class="basic-color"><%= messages.error %></p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>