<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<%- include('../user/layouts/jumbotron') %>

<h2 class="text-center">Welcome Admin</h2>
<br>

<%- include('../user/layouts/footer') %>