<div class="jumbotron jumbotron-fluid banner" style="height: 350px;">
    <div class="container">
      <!-- <h1 class="display-4 text-light">Kaori Laundry</h1>
      <p class="lead">Cuci baju anda di kaori laundry, maka pakaian anda akan bahagia, lalu anda pun bahagia!</p> -->
    </div>
  </div>